@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  font-family: "Arvo", Impact, Haettenschweiler, sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
  text-shadow: -1px 0 rgba(245, 245, 245, 0.836),
    0 1px rgba(245, 245, 245, 0.836), 1px 0 rgba(245, 245, 245, 0.836),
    0 -1px rgba(245, 245, 245, 0.836);
}

.headerContainer h2 {
  font-family: "Playfair display";
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  font-style: bold;
  color: black;
  text-shadow: 0 1px rgba(20, 6, 6, 0.123), 1px 0 rgba(20, 6, 6, 0.123),
    0 -1px rgba(20, 6, 6, 0.123);
}

.headerContainer button {
  font-family: “Arvo”, sans-serif;
  font-size: 22px;
  font-weight: bold;
  background: #2071a7;
  width: 160px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(15, 14, 14);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.headerContainer button:hover,
button:focus,
button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
    margin: 5px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
